/* Font & Icons */
@import url('https://fonts.googleapis.com/css2?family=Carlito:ital,wght@0,400;0,700;1,400;1,700&display=swap');
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.13.1/font/bootstrap-icons.min.css");

/* CSS Reset */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

img {
    max-width: 100%;
}

button {
    background: none;
    border: none;
}

a {
    text-decoration: none;
    color: white;
}

/* CSS Variables */

:root {
    --main-bg: #141318;
    --app-bg: #1C1D22;
    --footer-bg: #2D2D35;
    --button-bg: #373A43;
    --highlighted-bg: #26262E;
}

/* wrap region */

body,
button {
    font-family: "Carlito", sans-serif;
}

.wrapper {
    height: 100vh;

    display: flex;
    flex-direction: column;

    background-color: var(--main-bg);
}

/* end wrap region */

/* app region */

.main-container {
    flex-grow: 1;

    display: flex;

    position: relative;

    overflow: hidden;

    margin-top: 8px;
}

.sidebar {
    width: 80px;

    padding: 30px 0;

    flex-shrink: 0;
}

.sidebar>button {
    display: flex;

    position: relative;

    margin-bottom: 24px;
    padding: 0 16px 0 16px;
}

.sidebar>button.active::after {
    content: "";
    display: block;

    width: 10px;
    height: 40px;

    position: absolute;
    bottom: 0;
    left: 0;
    translate: -60% 0;

    border-radius: 10%;

    background-color: white;
}

.sidebar>button:hover {
    img {
        transform: scale(1.1);

    }

    &::after {
        content: "";
        display: block;

        width: 10px;
        height: 40px;

        position: absolute;
        bottom: 0;
        left: 0;
        translate: -60% 0;

        border-radius: 10%;

        background-color: white;
    }
}

.sidebar>.server-btn {
    img {
        border-radius: 50%;
    }
}

.app-container {
    flex-grow: 1;

    overflow: auto;

    padding: 8px;

    border-top-left-radius: 30px;

    background-color: var(--app-bg);
    color: white;

    h2 {
        margin: 10px 16px;
    }
}

.app-container>.toolbar {
    display: flex;
    gap: 20px;

    margin: 10px 16px;

    button {
        padding: 5px;

        background-color: var(--button-bg);
        color: white;

        border-radius: 20px;
    }

    button.add-friend-btn {
        width: 100%;

        border-radius: 20px;
    }
}

.app-container>.chat-btn {
    display: flex;
    gap: 10px;
    align-items: center;

    margin: 5px 0;

    padding: 14px 16px;

    border-radius: 12px;

    color: #fff5;

    .user-avatar>img {
        width: 50px;

        border-radius: 50%;
    }

    .chat-data {
        width: 100%;
    }

    .chat-timestamp {
        align-self: flex-start;
    }

    &:hover {
        background-color: var(--highlighted-bg);
        color: #fff;
    }

    &:nth-of-type(2) {
        background-color: var(--highlighted-bg);
        color: #fff;
    }
}

.chat-btn>.user-avatar {
    position: relative;
}

.status {
    position: absolute;
    bottom: 0;
    right: 0;

    width: 10px;
    height: 10px;

    border-radius: 50%;
    outline: 6px solid var(--main-bg);

    &.online {
        background-color: rgb(0, 203, 24);
    }

    &.not-disturb {
        background-color: rgb(255, 84, 84);
    }

    &.inactive {
        background-color: rgb(225, 184, 0);
    }
}

.new-chat-btn {
    position: absolute;
    bottom: 20px;
    right: 40px;

    padding: 16px;

    border-radius: 10px;

    font-size: 18px;

    background-color: #5865F2;
    color: white;
}

.app-footer {
    flex-shrink: 0;

    padding: 20px;

    background-color: var(--footer-bg);
}

.app-footer>nav {
    display: flex;
    justify-content: space-around;
    align-items: flex-end;

    font-size: 12px;
    text-align: center;

    .nav-btn {
        width: 100%;
    }

    i {
        font-size: 20px;
    }

    img {
        width: 20px;
        border-radius: 50%;
    }
}